# Project 2: Ames Housing Data

## Data Cleaning

### Importing the Data

In [1]:
import pandas as pd
import numpy as np

First I'll bring in the raw dataset.

In [2]:
ames_raw = '../datasets/train.csv'
df = pd.read_csv(ames_raw)
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

I want to take a closer look at the `Id` and `PID` features.

In [3]:
df.Id.nunique()

2051

In [4]:
df.shape

(2051, 81)

`Id` and `PID` appear to be functionally redundant as unique identifiers, so I'll drop `PID` and set the dataframe to index on `Id`.

In [5]:
df.set_index('Id', inplace=True)
df.drop(columns='PID', inplace=True)

Next I'll take a look to see how many null values need to be addressed.

In [6]:
df.isnull().sum().sort_values(ascending=False).head(27)

Pool QC           2042
Misc Feature      1986
Alley             1911
Fence             1651
Fireplace Qu      1000
Lot Frontage       330
Garage Qual        114
Garage Cond        114
Garage Yr Blt      114
Garage Finish      114
Garage Type        113
Bsmt Exposure       58
BsmtFin Type 2      56
Bsmt Qual           55
BsmtFin Type 1      55
Bsmt Cond           55
Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Half Bath       2
Bsmt Full Bath       2
Bsmt Unf SF          1
Total Bsmt SF        1
BsmtFin SF 1         1
BsmtFin SF 2         1
Garage Cars          1
Garage Area          1
Exterior 2nd         0
dtype: int64

### Dealing with the Worst Offenders

`Pool QC` is mostly null, so I'll take a look at the values it does have.

In [7]:
df['Pool QC'].value_counts()

Gd    4
TA    2
Fa    2
Ex    1
Name: Pool QC, dtype: int64

`Pool QC` doesn't contain any values for a missing pool, so I will fill those nulls as 'NA' to signify that these are properties that do not have pools.

In [8]:
df['Pool QC'].fillna('NA', inplace=True)

Now that the nulls in `Pool QC` have been filled, I'll take a look at the values in `Misc Feature` next.

In [9]:
df['Misc Feature'].value_counts()

Shed    56
Gar2     4
Othr     3
TenC     1
Elev     1
Name: Misc Feature, dtype: int64

Since these are uncommon features in a home, I think it's reasonable to again impute a value of 'NA' for the nulls here.

In [10]:
df['Misc Feature'].fillna('NA', inplace=True)

`Fence` and `Alley` are two remaining features with mostly null values. The categorical values for `Fence` in the provided data dictionary aren't entirely clear so I'm not confident about their consistent ability to influence price. However, the mere existence of a fence could be relevant and it's easy to classify, so I'll convert this column to a binary one where a value of 1 indicates that a property has a fence and a 0 indicates that the property has no fence.

In [11]:
fence_quality = ['MnPrv', 'GdPrv', 'GdWo', 'MnWw']
for quality in fence_quality:
    df.Fence = df.Fence.str.replace(quality, '1')
df.Fence.fillna(0, inplace=True)
df.Fence = df.Fence.apply(lambda x: int(x))
df.Fence.head(8)

Id
109     0
544     0
153     0
318     0
255     0
138     0
2827    0
145     1
Name: Fence, dtype: int64

The `Fence` column is now numeric and indicates whether or not the property has a fence. I'll run a similar process on `Alley` to convert that feature into a binary one rather than a categorical one. All properties with an alley, regardless of material, will have an `Alley` value of 1, and all other properties will have their null value filled with a 0.

In [12]:
alley_quality = ['Grvl', 'Pave']
for quality in alley_quality:
    df.Alley = df.Alley.str.replace(quality, '1')
df.Alley.fillna(0, inplace=True)
df.Alley = df.Alley.apply(lambda x: int(x))
df.Alley.head(8)

Id
109     0
544     0
153     0
318     0
255     0
138     0
2827    0
145     0
Name: Alley, dtype: int64

Another feature with plenty of null values is `Fireplace Qu`. In my opinion, the categorical descriptions for `Fireplace Qu` in the provided data dictionary lack precision. Since we already have a numeric feature (`Fireplaces`) indicating how many fireplaces are in each property, I feel comfortable dropping `Fireplace Qu` from the dataset.

In [13]:
df.drop(columns='Fireplace Qu', inplace=True)

### Garage Nulls

Next I'll focus on the garage-related features. First I'll create a function that can quickly display which properties have null values in a particular column.

In [14]:
def has_null(col):
    null_mask = (df[col].isnull())
    print(df[null_mask])
    return

has_null('Garage Cars')

      MS SubClass MS Zoning  Lot Frontage  Lot Area Street  Alley Lot Shape  \
Id
2237           70        RM          50.0      9060   Pave      0       Reg

     Land Contour Utilities Lot Config  ... Screen Porch Pool Area Pool QC  \
Id                                      ...
2237          Lvl    AllPub     Inside  ...            0         0      NA

     Fence Misc Feature Misc Val  Mo Sold  Yr Sold  Sale Type  SalePrice
Id
2237     1           NA        0        3     2007        WD      150909

[1 rows x 78 columns]

I'll take a closer look at property 2237.

In [15]:
df.loc[2237, df.columns.str.contains('Garage')]

Garage Type      Detchd
Garage Yr Blt       NaN
Garage Finish       NaN
Garage Cars         NaN
Garage Area         NaN
Garage Qual         NaN
Garage Cond         NaN
Name: 2237, dtype: object

This is the only property that is missing values for `Garage Cars` and `Garage Area`, and its `Garage Type` value indicates that it does have a garage. Since it's only one property and it has no other garage information from which to infer, I'm going to drop this row.

In [16]:
df.drop(index=2237, inplace=True)

Next I want to see if the same properties are missing all the various garage values.

In [17]:
df[df['Garage Type'].isnull() &
   df['Garage Yr Blt'].isnull() &
   df['Garage Finish'].isnull() &
   df['Garage Qual'].isnull() &
   df['Garage Cond'].isnull()]

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2243,190,C (all),75.0,8250,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,6,2007,WD,119600
330,160,RM,21.0,1476,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,3,2010,WD,76000
2278,20,RL,70.0,8402,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,12,2007,New,147000
2235,50,RM,50.0,7288,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,9,2007,WD,129850
2084,30,RL,58.0,9098,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,7,2007,WD,86000
728,30,C (all),72.0,9392,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,9,2009,WD,44000
781,20,RL,NaN,9000,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,6,2009,WD,63900
1492,30,RL,63.0,13907,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,7,2008,WD,108000
1514,30,RL,67.0,5604,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2008,WD,98000
216,50,RL,54.0,6342,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,5,2010,WD,94000
204,70,RM,60.0,12900,Pave,1,Reg,Lvl,AllPub,Inside,...,168,0,NA,0,NA,0,5,2010,WD,159900
754,90,RM,50.0,3000,Pave,1,Reg,Bnk,AllPub,Inside,...,0,0,NA,0,NA,0,9,2009,WD,62500
698,70,RM,90.0,9900,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,3,2009,WD,129000
2745,20,RL,77.0,8335,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,4,2006,WD,93000
131,30,RL,55.0,5350,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,NA,1,Shed,450,5,2010,WD,76500
615,30,RL,50.0,5330,Pave,0,Reg,HLS,AllPub,Inside,...,0,0,NA,0,NA,0,12,2009,WD,82500
2824,20,RL,75.0,8050,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2006,WD,117250
2846,190,RH,NaN,7082,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,7,2006,WD,160000
943,50,C (all),105.0,8470,Pave,0,IR1,Lvl,AllPub,Corner,...,0,0,NA,1,NA,0,10,2009,ConLD,85000
753,75,RM,92.0,5520,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,1,NA,0,7,2009,WD,104000
2369,160,RM,21.0,1680,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2006,WD,91500
2034,70,RM,60.0,6882,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,3,2007,WD,127000
2882,190,C (all),50.0,9000,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,10,2006,WD,115000
1501,90,RL,65.0,6040,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,6,2008,WD,82000
2635,190,RL,70.0,7000,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,3,2006,WD,124000
1951,70,RL,60.0,10800,Pave,1,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,7,2007,WD,148000
1318,75,RM,35.0,6300,Pave,1,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,6,2008,WD,128000
900,90,RL,65.0,10926,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,8,2009,WD,119900
1376,190,RL,62.0,10106,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,9,2008,WD,127500
1366,50,RM,NaN,7920,Pave,1,IR1,Lvl,AllPub,Inside,...,0,0,NA,1,NA,0,3,2008,WD,89500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,90,RL,113.0,8513,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,11,2008,WD,130000
130,20,RL,50.0,7207,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,2,2010,WD,116500
1948,45,RL,55.0,5500,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,1,NA,0,4,2007,WD,103200
2820,90,RL,38.0,7840,Pave,0,IR1,Lvl,AllPub,CulDSac,...,0,0,NA,0,NA,0,10,2006,WD,127500
1550,50,RM,58.0,8155,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,7,2008,WD,119000
2914,180,RM,21.0,1470,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2006,WD,73000
393,90,RL,60.0,9000,Pave,0,Reg,Lvl,AllPub,FR2,...,0,0,NA,0,NA,0,9,2009,WD,136000
2046,50,RL,138.0,18030,Pave,0,IR1,Bnk,AllPub,Inside,...,0,0,NA,1,NA,0,3,2007,WD,200500
710,50,RM,50.0,5925,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,1,NA,0,5,2009,WD,37900
764,90,RL,60.0,10800,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,3,2009,WD,179000
1502,90,RL,65.0,6012,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,6,2008,WD,82000
1132,20,RL,63.0,7500,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2008,WD,141000
2290,180,RM,21.0,1936,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,1,NA,0,12,2007,WD,84500
853,20,RL,60.0,8430,Pave,0,Reg,HLS,AllPub,Inside,...,0,0,NA,0,NA,0,8,2009,WD,124000
2671,30,RL,NaN,7446,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,1,NA,0,4,2006,WD,100000
898,30,RL,56.0,4060,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,7,2009,WD,99900
2496,20,RL,NaN,8020,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,NA,1,NA,0,4,2006,WD,124000
2920,160,RM,21.0,1936,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,6,2006,WD,90500
894,20,RL,50.0,9405,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,6,2009,WD,118000
2837,50,RL,58.0,8410,Pave,0,Reg,Lvl,AllPub,FR2,...,0,0,NA,0,NA,0,5,2006,WD,81000
2668,90,RM,33.0,5976,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,12,2006,WD,93500
1486,30,RL,67.0,8777,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,1,NA,0,5,2008,WD,85000
1591,20,RL,77.0,9278,Pave,0,Reg,Lvl,AllPub,FR2,...,0,0,NA,0,NA,0,2,2008,WD,146000
2690,30,RM,153.0,4118,Pave,1,IR1,Bnk,AllPub,Corner,...,0,0,NA,0,NA,0,3,2006,WD,52500
1601,180,RM,21.0,1890,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,6,2008,WD,81000
325,90,RL,94.0,9400,Pave,0,Reg,Low,AllPub,Corner,...,0,0,NA,0,NA,0,4,2010,WD,139000
2880,30,C (all),69.0,12366,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,10,2006,WD,51689
2628,90,RL,75.0,8512,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,9,2006,WD,119000
2288,160,RM,21.0,1495,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,5,2007,WD,93900
2842,50,RL,45.0,8248,Pave,1,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,9,2006,COD,83000

Since the same 113 properties are missing garage-related values, we can infer that these properties do not have garages. I will fill those values as 'NA' so they will be appropriately categorized when I one-hot encode the garage features. However, I first want to check the years that garages were built because values of 0 in that numeric column will distort the rest of the column's values. I will compare the years that the garages were built with the years the properties were built to see how many garages were built after the original property construction.

In [18]:
def compare_garage_year(data):
    counter = 0
    for row in data.index:
        if df.loc[row]['Garage Yr Blt'] - df.loc[row]['Year Built'] > 0:
            counter += 1
    return counter

compare_garage_year(df)

362

According to my `compare_garage_year` function, 362 properties have garages with different build years than the property itself. That number is higher than I would like, but since we already have so many other features for the garages, 362 is still low enough that I feel comfortable dropping the `Garage Yr Blt` column. I will also fill the null values of the four remaining garage features, then check the cleaning progress.

In [19]:
df.drop(columns = 'Garage Yr Blt', inplace=True)

df['Garage Type'].fillna('NA', inplace=True)
df['Garage Finish'].fillna('NA', inplace=True)
df['Garage Qual'].fillna('NA', inplace=True)
df['Garage Cond'].fillna('NA', inplace=True)

Now that the garages are cleaned, I'll deal with the basement nulls.

### Basement Nulls

First I want to see how many basement nulls I need to address.

In [20]:
basement_cols = df.columns[df.columns.str.contains('Bsmt')]

df[basement_cols].isnull().sum()

Bsmt Qual         55
Bsmt Cond         55
Bsmt Exposure     58
BsmtFin Type 1    55
BsmtFin SF 1       1
BsmtFin Type 2    56
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Bsmt Full Bath     2
Bsmt Half Bath     2
dtype: int64

Next, I want to find the one property that is null for `BsmtFin Type 1`.

In [21]:
has_null('BsmtFin SF 1')

      MS SubClass MS Zoning  Lot Frontage  Lot Area Street  Alley Lot Shape  \
Id
1342           20        RM          99.0      5940   Pave      0       IR1

     Land Contour Utilities Lot Config  ... Screen Porch Pool Area Pool QC  \
Id                                      ...
1342          Lvl    AllPub        FR3  ...            0         0      NA

     Fence Misc Feature Misc Val  Mo Sold  Yr Sold  Sale Type  SalePrice
Id
1342     1           NA        0        4     2008      ConLD      79000

[1 rows x 77 columns]

I'll take a closer look to see if it has other basement nulls.

In [22]:
df.loc[1342, basement_cols]

Bsmt Qual         NaN
Bsmt Cond         NaN
Bsmt Exposure     NaN
BsmtFin Type 1    NaN
BsmtFin SF 1      NaN
BsmtFin Type 2    NaN
BsmtFin SF 2      NaN
Bsmt Unf SF       NaN
Total Bsmt SF     NaN
Bsmt Full Bath    NaN
Bsmt Half Bath    NaN
Name: 1342, dtype: object

This property doesn't seem to have a basement at all, so I will fill its numerical basement values with 0 and its categorical basement values with NA.

In [23]:
df.loc[1342, 'Total Bsmt SF'] = 0
df.loc[1342, 'Bsmt Full Bath'] = 0
df.loc[1342, 'Bsmt Half Bath'] = 0
df.loc[1342, 'Bsmt Unf SF'] = 0
df.loc[1342, 'BsmtFin SF 2'] = 0
df.loc[1342, 'BsmtFin SF 1'] = 0
df.loc[1342, 'Bsmt Qual'] = 'NA'
df.loc[1342, 'Bsmt Cond'] = 'NA'
df.loc[1342, 'Bsmt Exposure'] = 'NA'
df.loc[1342, 'BsmtFin Type 1'] = 'NA'
df.loc[1342, 'BsmtFin Type 2'] = 'NA'

There should be one more property with a null value for `Bsmt Full Bath`.

In [24]:
has_null('Bsmt Full Bath')

      MS SubClass MS Zoning  Lot Frontage  Lot Area Street  Alley Lot Shape  \
Id
1498           20        RL         123.0     47007   Pave      0       IR1

     Land Contour Utilities Lot Config  ... Screen Porch Pool Area Pool QC  \
Id                                      ...
1498          Lvl    AllPub     Inside  ...            0         0      NA

     Fence Misc Feature Misc Val  Mo Sold  Yr Sold  Sale Type  SalePrice
Id
1498     0           NA        0        7     2008        WD      284700

[1 rows x 77 columns]

I'll take a closer look at 1498.

In [25]:
df.loc[1498, basement_cols]

Bsmt Qual         NaN
Bsmt Cond         NaN
Bsmt Exposure     NaN
BsmtFin Type 1    NaN
BsmtFin SF 1        0
BsmtFin Type 2    NaN
BsmtFin SF 2        0
Bsmt Unf SF         0
Total Bsmt SF       0
Bsmt Full Bath    NaN
Bsmt Half Bath    NaN
Name: 1498, dtype: object

Since it's the only property left in the dataset with missing basement bathroom values, I will manually set those values to 0, but then I will start programatically filling in the rest of the dataset's basement nulls.

In [26]:
df.loc[1498, 'Bsmt Full Bath'] = 0
df.loc[1498, 'Bsmt Half Bath'] = 0

I want to get a quick look at whether all the properties with those null basement values have any existing values that could be overwritten when I pass the properties through a function.

In [27]:
no_basement = (df['Total Bsmt SF'] == 0)

df[no_basement][basement_cols]

,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Bsmt Full Bath,Bsmt Half Bath
Id,,,,,,,,,,,
807,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
811,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
781,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
888,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1554,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2740,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2242,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2745,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
84,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1501,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
155,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
812,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2082,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1504,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
946,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1498,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2904,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
953,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
274,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
207,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
788,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
679,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1205,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1255,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
677,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1375,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2622,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1880,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2703,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2177,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
709,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1260,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2626,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
897,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2893,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1326,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
244,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
813,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1569,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1342,NA,NA,NA,NA,0.0,NA,0.0,0.0,0.0,0.0,0.0
650,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2707,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
787,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1902,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2701,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1502,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
815,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1899,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2004,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2627,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2625,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2279,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
810,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2338,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2880,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0

Since there don't seem to be any stray values for these features, I'll write a function to fill all the null categories and pass the dataframe through it.

In [28]:
def fill_basement_nulls(data):
    for row in data.index:
        if data.loc[row, 'Total Bsmt SF'] == 0:
            data.loc[row, 'Bsmt Qual'] = 'NA'
            data.loc[row, 'Bsmt Cond'] = 'NA'
            data.loc[row, 'Bsmt Exposure'] = 'NA'
            data.loc[row, 'BsmtFin Type 1'] = 'NA'
            data.loc[row, 'BsmtFin Type 2'] = 'NA'
    return

fill_basement_nulls(df)

In [29]:
df[basement_cols].isnull().sum()

Bsmt Qual         0
Bsmt Cond         0
Bsmt Exposure     3
BsmtFin Type 1    0
BsmtFin SF 1      0
BsmtFin Type 2    1
BsmtFin SF 2      0
Bsmt Unf SF       0
Total Bsmt SF     0
Bsmt Full Bath    0
Bsmt Half Bath    0
dtype: int64

To address these last four basement nulls, I'll first figure out which properties have `Bsmt Exposure` nulls.

In [30]:
has_null('Bsmt Exposure')

      MS SubClass MS Zoning  Lot Frontage  Lot Area Street  Alley Lot Shape  \
Id
1797           60        FV          81.0     10411   Pave      0       Reg
67             20        RL          73.0      8987   Pave      0       Reg
2780           60        RL          65.0     14006   Pave      0       IR1

     Land Contour Utilities Lot Config  ... Screen Porch Pool Area Pool QC  \
Id                                      ...
1797          Lvl    AllPub     Corner  ...            0         0      NA
67            Lvl    AllPub     Inside  ...            0         0      NA
2780          Lvl    AllPub     Inside  ...            0         0      NA

     Fence Misc Feature Misc Val  Mo Sold  Yr Sold  Sale Type  SalePrice
Id
1797     0           NA        0        7     2007        New     212109
67       0           NA        0        5     2010        WD      221500
2780     0           NA        0        2     2006        WD      192500

[3 rows x 77 columns]

I have no reasonable way of inferring the `Bsmt Exposure` for those three properties, and because it's only three properties I believe I can drop them from the training dataset without any adverse effects on the model.

In [31]:
df.drop(index=1797, inplace=True)
df.drop(index=67, inplace=True)
df.drop(index=2780, inplace=True)

Now I'll look for the final basement null.

In [32]:
has_null('BsmtFin Type 2')

     MS SubClass MS Zoning  Lot Frontage  Lot Area Street  Alley Lot Shape  \
Id
445           20        RL          85.0     10655   Pave      0       IR1

    Land Contour Utilities Lot Config  ... Screen Porch Pool Area Pool QC  \
Id                                     ...
445          Lvl    AllPub     Inside  ...            0         0      NA

    Fence Misc Feature Misc Val  Mo Sold  Yr Sold  Sale Type  SalePrice
Id
445     0           NA        0       10     2009        WD      284000

[1 rows x 77 columns]

I want to take a closer look at this property.

In [33]:
df.loc[445, basement_cols]

Bsmt Qual           Gd
Bsmt Cond           TA
Bsmt Exposure       No
BsmtFin Type 1     GLQ
BsmtFin SF 1      1124
BsmtFin Type 2     NaN
BsmtFin SF 2       479
Bsmt Unf SF       1603
Total Bsmt SF     3206
Bsmt Full Bath       1
Bsmt Half Bath       0
Name: 445, dtype: object

This property has a large basement and half of it is finished, with a substantial portion rated as good living quarters. We can assume that the `BsmtFin Type 2` is not also good living quarters, otherwise it would be grouped in with `BsmtFin Type 1`. Since we can see that the space is 479 square feet, and we can reasonably infer that the large living quarters contains the basement's only bathroom, we can also infer that the space is a rec room rather than another living quarters. Therefore, I will impute the value for an average rec room.

In [34]:
df.loc[445, 'BsmtFin Type 2'] = 'Rec'

And with that, I'm done cleaning the basement null values.

### Last Miscellaneous Nulls

In [35]:
df.isnull().sum().sort_values(ascending=False).head()

Lot Frontage    330
Mas Vnr Type     22
Mas Vnr Area     22
SalePrice         0
Foundation        0
dtype: int64

First I'll verify that the same 22 properties are missing both `Mas Vnr Area` and `Mas Vnr Area`.

In [36]:
df[df['Mas Vnr Area'].isnull() &
   df['Mas Vnr Type'].isnull()]

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2393,60,RL,103.0,12867,Pave,0,IR1,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,7,2006,New,344133
2383,20,RL,107.0,13891,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,9,2006,New,465000
539,20,RL,67.0,10083,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,8,2009,WD,184900
518,20,FV,90.0,7993,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,10,2009,New,225000
2824,20,RL,75.0,8050,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2006,WD,117250
1800,60,FV,112.0,12217,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,12,2007,New,310013
1455,60,RL,75.0,9473,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,3,2008,WD,237000
1120,20,RL,87.0,10037,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,8,2008,WD,247000
1841,120,FV,35.0,4274,Pave,1,IR1,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,11,2007,New,199900
1840,120,FV,30.0,5330,Pave,1,IR2,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,7,2007,New,207500
2230,20,RL,NaN,32668,Pave,0,IR1,Lvl,AllPub,CulDSac,...,0,0,NA,0,NA,0,3,2007,WD,200624
1123,20,FV,95.0,11639,Pave,0,Reg,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,12,2008,New,182000
1784,20,RL,85.0,9965,Pave,0,Reg,Lvl,AllPub,FR2,...,0,0,NA,0,NA,0,9,2007,New,235876
485,60,RL,NaN,12891,Pave,0,IR1,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,7,2009,WD,257500
1752,80,RL,NaN,11950,Pave,0,IR1,Lvl,AllPub,Corner,...,0,0,NA,0,NA,0,10,2007,WD,165500
1185,60,FV,NaN,7500,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2008,WD,205000
1128,60,FV,65.0,8125,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,5,2008,WD,205950
1096,60,RL,NaN,7750,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,4,2008,WD,176000
2261,20,RL,68.0,8298,Pave,0,IR1,HLS,AllPub,Inside,...,0,0,NA,0,NA,0,9,2007,New,267300
2456,20,RL,49.0,15218,Pave,0,IR1,Lvl,AllPub,CulDSac,...,0,0,NA,0,NA,0,9,2006,New,336820
1728,60,RL,59.0,15810,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,5,2007,New,181755
56,60,RL,NaN,7851,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,NA,0,NA,0,5,2010,WD,216500

Since it is the same 22 properties, I'll take a look at the rest of the `Mas Vnr Type` feature.

In [37]:
df['Mas Vnr Type'].value_counts()

None       1216
BrkFace     628
Stone       168
BrkCmn       13
Name: Mas Vnr Type, dtype: int64

Since most properties have no masonry work, I'll impute the mode of 'None' and 0 for `Mas Vnr Type` and `Mas Vnr Area`.

In [38]:
df['Mas Vnr Area'].fillna(0, inplace=True)
df['Mas Vnr Type'].fillna('None', inplace=True)

df.isnull().sum().sort_values(ascending=False).head()

Lot Frontage    330
SalePrice         0
Foundation        0
Roof Matl         0
Exterior 1st      0
dtype: int64

We have too many nulls for `Lot Frontage` to drop those properties from our dataset, but not enough nulls to drop the feature entirely. Since it is unlikely that a property truly has zero linear feet of `Lot Frontage` I will impute the mean value.

In [39]:
df['Lot Frontage'].fillna(value=df['Lot Frontage'].mean(), inplace=True)

Now that I've cleaned `Lot Frontage` I'll verify that there are no more remaining null values in the dataset.

In [40]:
df.isnull().sum().sum()

0

The data is clean so I'll export it as a new CSV file designated `train_clean.csv`.

In [41]:
# df.to_csv('../datasets/train_clean.csv')

Now I'll move on to EDA and modeling in the next notebook.